@model Application.Service.ConnectorDetailVM
    @using Application.Service
@{
    ViewBag.Title = "Connector Documents";
}

<div class="form-horizontal" style="padding: 0px; margin-top: 10px">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">DOCUMENTS applicable to connector @ViewData.Model.Code  </a>

        <form class="form-inline">

            <button onclick="OpenAddExistingModal()" class="btn btn-outline-primary my-2 my-sm-0" type="button">Add Existing</button>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Add New</button>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Remove</button>
        </form>

    </nav>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>NUMBER</th>
                        <th>TITLE</th>
                        <th>CATEGORY</th>
                        <th>REV</th>
                    </tr>
                </thead>
                @if (ViewData.Model.Documents == null)
                {
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                }
                else
                {
                    foreach (var d in ViewData.Model.Documents)
                    {
                        <text>
                            <tr>
                                <td>@d.Code</td>
                                <td>@d.Title</td>
                                <td>@d.DocType</td>
                                <td>@d.Rev</td>
                            </tr>
                        </text>
                    }
                }
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">SELECT EXISTING DOCUMENT TO ADD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @CammGrid.SearchGrid(this, new DocumentListVM(), "/Document/SearchServerSide")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="AddSelectedDocument()" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>

    var connectorid = @ViewData.Model.Id;

    function OpenAddExistingModal() {
        $('#exampleModalCenter').modal('show');
    }

    var selectedDocumentId = 0;

    function AddSelectedDocument() {
        $.ajax({
            "url": "AddExistingDocument",
            "data": {"connectorId": connectorid, "documentId": selectedDocumentId}
        })
    }

    function SearchGrid_HandleRowSelected(rowData) {
        selectedDocumentId = rowData.Id; 
    }
       
</script>

<style>
    table, th, td {
        border: 1px solid black;
    }

    .form-inline > * {
        margin: 5px 3px;
    }
</style>


