
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Application.Items;
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@using System;
@using Application.Service
@using Presentation

@helper SearchGrid(System.Web.Mvc.WebViewPage page, object listVM, string Name, string searchMethod)
{
    var Html = page.Html;

    <table id="@(Name)" class="table table-striped table-bordered" typeof="display" style="width:100%"></table>

    <script>
        var @Name = function() {
            vm = this;

            vm.searchstring = "";

            vm.search = function (searchTerm) {
                vm.selectedRow = "";
                vm.table.search(searchTerm).draw();
            }

            vm.selectedRow = "";
            vm.selectedRowList = "";
            vm.table = "";
            vm.configureTable = function (data) {
                if (vm.table) {
                    vm.table.destroy();
                }
                vm.table = $('#@(Name)').DataTable({
                    "ajax": {
                        "url": "@searchMethod",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns":
                        @Html.Raw(JavaScriptBuilder.TableColumns(listVM)),
                    "searching": "true",
                    "serverSide": "true",
                    "order": [0, "asc"],
                    "processing": "true",
                    "language": {
                        "processing": "processing, please wait"
                    },
                    "select": { style: 'multi' },
                    "dom": '<"top"i>rt<"bottom"lp><"clear">'
                });

                $('#@(Name) tbody').on('click', 'tr', function () {
                    var data = vm.table.row($(this)).data();
                    vm.HandleRowSelected(data);
                });

            };

            @Html.Raw(JavaScriptBuilder.SelectListsObservableArray(listVM));

            vm.getEnumItemName = function (myEnum, value) {
                var enumListName = myEnum + "List";
                var enumList = vm[enumListName];
                var n = ko.utils.arrayFirst(enumList(), function (i) {
                    return value === i.id;
                });
                return n.name;
            };

            vm.formatDate = function (d) {
                if (d === null) {
                    return "";
                }
                var dateInt = parseInt(d.substring(6, 19));
                var duedate = new Date(dateInt);
                return duedate.toLocaleDateString();
            };

            vm.configureTable();

            vm.HandleRowSelected = function(rowData) {
                try {
                    vm.selectedRow = rowData;
                    @(Name)_HandleRowSelected(rowData);
                    vm.selectedRowList = vm.table.rows({ selected: true });
                } catch (e) { }
            }

            vm.GetSelectedRows = function () {

                var ids = $.map(vm.table.rows({ selected: true }).data(), function (item) {
                    return item.Id;
                });

                return ids;
            }
        }

        $(document).ready(function () {
            @(Name) = new @(Name)();
            //ko.applyBindings(@(Name));
        });

    </script>
}

@helper SimpleAjaxGrid(System.Web.Mvc.WebViewPage page, object listVM, string Name, string searchMethod, string Id)
{
    var Html = page.Html;

    <table id="@(Name)" class="table table-striped table-bordered" typeof="display" style="width:100%"></table>

    <script>
        var @Name = function() {
            vm = this;

            vm.searchstring = "@Id";

            vm.search = function (searchTerm) {
                vm.selectedRow = "";
                vm.searchstring = searchTerm;
                var table = $("#@(Name)").DataTable();
                //vm.table.search(searchTerm).draw();
                table.ajax.reload();
            }

            vm.refresh = function () {
                var table = $("#@(Name)").DataTable();
                table.ajax.reload();
                table.search(vm.searchstring).draw();
            }

            vm.selectedRow = "";
            vm.selectedRowList = "";
            vm.table = "";
            vm.configureTable = function (data) {

                if (vm.table) {
                    vm.table.destroy();
                }

                vm.table = $('#@(Name)').DataTable({
                    "ajax": {
                        "url": "@searchMethod",
                        "datatype": "json",
                        "type": "POST",
                        "data": { "connectorId": vm.searchstring }
                    },
                    "columns":
                        @Html.Raw(JavaScriptBuilder.TableColumns(listVM)),
                    "searching": "true",                                        
                    "order": [0, "asc"],
                    "processing": "true",
                    "language": {
                        "processing": "processing, please wait"
                    },
                    "select": { style: 'multi' },
                    "dom": '<"top"i>rt<"bottom"lp><"clear">'
                });

                $('#@(Name) tbody').on('click', 'tr', function () {
                    var data = vm.table.row($(this)).data();
                    vm.HandleRowSelected(data);
                });

            };

            @Html.Raw(JavaScriptBuilder.SelectListsObservableArray(listVM));

            vm.getEnumItemName = function (myEnum, value) {
                var enumListName = myEnum + "List";
                var enumList = vm[enumListName];
                var n = ko.utils.arrayFirst(enumList(), function (i) {
                    return value === i.id;
                });
                return n.name;
            };

            vm.formatDate = function (d) {
                if (d === null) {
                    return "";
                }
                var dateInt = parseInt(d.substring(6, 19));
                var duedate = new Date(dateInt);
                return duedate.toLocaleDateString();
            };

            vm.configureTable();

            vm.HandleRowSelected = function(rowData) {
                try {
                    vm.selectedRow = rowData;
                    @(Name)_HandleRowSelected(rowData);
                    vm.selectedRowList = vm.table.rows({ selected: true });
                } catch (e) { }
            }

            vm.GetSelectedRows = function () {

                var table = $("#@(Name)").DataTable();
                var rows = table.rows('.selected').data();
                return rows;
            }
        }

        $(document).ready(function () {
            @(Name) = new @(Name)();
            //ko.applyBindings(@(Name));
        });

    </script>
}

@helper JavascriptSourcedGrid(System.Web.Mvc.WebViewPage page, object listVM, string Name)
{
    var Html = page.Html;

    <table id="@(Name)" class="table table-striped table-bordered" typeof="display" style="width:100%"></table>

    <script>

        function @(Name)() {

            vm = this;

            vm.data = [];

            @Html.Raw(JavaScriptBuilder.SelectListsArray(listVM));

            vm.getEnumItemName = function (myEnum, id) {
                var enumListName = myEnum + "List";
                var enumList = vm[enumListName];
                var n = "";
                for (var i = 0; i < enumList.length; i++) {
                    if (enumList[i].id === id) {
                        n = enumList[i];
                    }
                }
                return n.name;
            };

            vm.getEnumItemId = function (myEnum, name) {
                var enumListName = myEnum + "List";
                var enumList = vm[enumListName];
                var n = "";
                for (var i = 0; i < enumList.length; i++) {
                    if (enumList[i].name === name) {
                        n = enumList[i];
                    }
                }
                return n.id;
            };

            vm.table = $('#@(Name)').DataTable({
                data: vm.data,
                columns: [
                    { "data": "Id", "name": "Id", "title": "Document Id", "visible": false },
                    { "data": "Code", "name": "Code", "title": "Document Number", "visible": true },
                    { "data": "Rev", "name": "Rev", "title": "Rev", "visible": true },
                    { "data": "Title", "name": "Title", "title": "Title", "visible": true },
                    { "render": function (data, type, row, meta) { return vm.getEnumItemName('DocumentType', row['DocType']); }, "name": "DocType", "title": "Type", "visible": true }
                ],
                paging: false,
                ordering: false,
                info: false,
                searching: false
            });

            vm.loadTable = function(newData){
                vm.table.clear();
                vm.table.rows.add(newData);
                vm.table.draw();
            }
        }

        @Name = new @(Name)();

        $(document).ready(function () {
            @(Name).table;
        });

    </script>
}