@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Application.Items;
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@using System;
@using Application.Service
@using Presentation

@helper LinkDocuments(System.Web.Mvc.WebViewPage page, string Name)
{
    <div class="modal fade" id="@(Name)" tabindex="-1" role="dialog" aria-labelledby="@(Name)" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 1200px">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom:0">
                    <div class="container">
                        <div class="row">
                            @CammInputs.ButtonInputCancelButton(page, "DocumentSearchBoxButton", "Search Documents")
                        </div>
                        <div class="row" style="padding-top:15px">
                            <h5 class="modal-title" id="exampleModalLongTitle">SELECT EXISTING DOCUMENT TO ADD</h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    @CammGrid.SearchGrid(page, new DocumentListVM(), "DocumentSearchGrid", "/Document/SearchServerSide")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                    <button onclick="@(Name).AddSelectedDocument()" type="button" class="btn btn-outline-primary">Apply Selected Documents</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        function @(Name)() {

            self = this;

            self.Type = "";
            self.TypeId = 0;

            self.AddSelectedDocument = function() {

                if (self.Type === "" || self.Type === 0) {
                    return;
                } 

                var ids = DocumentSearchGrid.GetSelectedRows();                

                $.ajax({
                    "url": "/Document/LinkDocuments",
                    "data": $.param({ "type": self.Type, "typeId": self.TypeId, "documentIdList": ids }, true),
                    "success": function () {
                        try {
                            @(Name)_HandleDocumentsLinked();
                        } catch (e) { }
                    }
                })
            }
        }

        var @Name = new @(Name)();

        function DocumentSearchBoxButton_HandleClick(searchTerm) {
            DocumentSearchGrid.search(searchTerm);
        }

    </script>
}

// obsolete
@helper Message(System.Web.Mvc.WebViewPage page, string Name, string Title = "", string Message = "")
{
    <div class="modal fade" id="@(Name)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom:0">
                    <div class="container">
                        <div class="row" style="padding-top:15px">
                            <h5 class="modal-title" id="@(Name)Title">@(Title)</h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <p id="@(Name)Message">@Message</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>                    
                </div>
            </div>
        </div>
    </div> 

    <script>
        
        @(Name) = function() {

            var self = this;

            self.Show = function(title = "", message = ""){

                if(title !== "")
                    $("#@(Name)Title").html(title);

                if(message !== "")
                    $("#@(Name)Message").html(message);

                $('#@(Name)').modal('show');
            };
        }

        @Name = new @(Name)();

    </script>

}   